
/* general css for all resume pages */
body {
  display: grid; 
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 150px;
}

/*css for navigation area */
.navigation-area {
  display: flex;
  flex-direction: column;
  background-color: #BBF1FA;
  margin-right: 5px;
  gap: 10px;
}
.navigation-area > div {
  text-align: center;
}
.navigation-area .nameNpic > div img {
  height: 110px;
  width: 100px;
  border-radius: 50%;
  margin: 10px;
}
.navigation-area > .nameNpic > div h2 {
  margin: 0px 10px 10px 10px;
}
.navigation-area .sections {
  border-top: 1px solid #4C7178;
}
.navigation-area .sections > div {
  margin: 30px 0px;
}
.navigation-area .sections > div a {
  text-decoration: none;
  color: #4C7178;
}
.navigation-area .brief-overview {
  text-align: center;
}
.navigation-area .brief-overview > p {
  text-align: left;
  margin: 10px;
}
.navigation-area .brief-overview .button-container {
  display: flex;
  height: 50px;
  justify-content: center;
}
.navigation-area .brief-overview .button-container a {
  text-decoration: none;
}
.navigation-area .brief-overview .button-container .button {
  background-color: beige;
  border: 5px solid #B9B4C7;
}
.navigation-area .brief-overview .button-container .button h3 {
  margin: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* general css for main content area */
.content-area{
  /* background-color: #EEF6F7; */
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #273A3E;
}
.content-area .heading{
  height: 100px;
  margin-top: 30px;
}
.content-area .heading h1 {
  font-size: 3rem;
  text-decoration: underline;
}
.content-area .section-details {
  margin: 10px;
  /* remaining css on individual section pages */
}

/* css for footer section */
.footer {
  margin-top: 5px;
  grid-row-start: 2;
  grid-column-start: span 6;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: rgba(194, 191, 191, 0.648);
  height: 150px;
}
.footer footer {
  color: black;
}
